# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/

# VS Code user-specific settings
training-dbt-RpwDbtTraining/.vscode/settings.json
.vscode/tasks.json
``
# Windsurf user-specific settings
training-dbt-RpwDbtTraining/.windsurf/settings.json
#virtual environment
activate_env.ps1
